<?xml version="1.0" encoding="UTF-8"?>
<document xmlns="http://maven.apache.org/XDOC/2.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">

    <properties>
        <title>Ferris ClipJ</title>
        <author email="mjremijan@yahoo.com">Michael Remijan</author>
    </properties>

    <body>
        <section name="Configuration">
            <subsection name="Preferences" id="Preferences">
                <p>
                    Preferences are in the <code>%CLIPJ%/conf/preferences.properties</code> file. 
                    Here are its options.
                </p>
                <source>
# The maximum number of clipboard items to maintain in history. Once
# the maximum size is reached, new clipboard items will be added to 
# the top and last one at the bottom will be dropped.
MaxHistorySize=10</source> 
            </subsection>
            
            <subsection name="Double-click" id="doubleclick">
                <p>
                    ClipJ has special functionality. When you double-click on the
                    ClipJ icon in the Windows taskbar, ClipJ will copy the value
                    you put in the <code>%CLIPJ%/data/clipj-double-click.xml</code> file
                    onto the clipboard. The XML file looks like this:                    
                </p>
                <source>
<![CDATA[<?xml version="1.0" encoding="UTF-8"?>
<!--
 When you double-click the application's system tray icon, the contents
 of this file are read and automatically put onto the clipboard.
-->
<DoubleClick>
    <Item>Double-click the system tray icon to put me on the clipboard</Item>
</DoubleClick>]]></source>

                <p>
                    ClipJ comes with a file named <code>%CLIPJ%/data/clipj-double-click-template.xml</code>.
                    You need to <b>COPY</b> this file and save it as 
                    <code>%CLIPJ%/data/clipj-double-click.xml</code>. Put the value
                    you want copied to the clipboard in this file only.
                </p>
                <p>
                    When you double-click on the ClipJ icon in the Windows taskbar, 
                    ClipJ will do the following:
                </p>
                <ol> 
                    <li>Detect <code>%CLIPJ%/data/clipj-double-click.xml</code> exists</li>
                    <li>Read the file contents</li>
                    <li>Encrypt the file contents</li>
                    <li>Write the encrypted file contents to <code>%CLIPJ%/data/clipj-double-click.bin</code></li>
                    <li>Delete <code>%CLIPJ%/data/clipj-double-click.xml</code></li>
                </ol>
                <p>
                    The <code>%CLIPJ%/data/clipj-double-click.xml</code> is automatically
                    deleted for security reasons. You will need to create a new one 
                    every time you want to change what ClipJ copies to the clipboard
                    on double-click.
                </p>
            </subsection>
            
            <subsection name="Java JVM" id="javajvm">
                <p>
                    ClipJ requires Java 1.8+ and it comes with its own JVM in 
                    the <code>%CLIPJ%/jre/</code> directory.  If you want to use 
                    a different JVM, edit the  <code>%CLIPJ%/bin/start-clipj.cmd</code> 
                    file and put in the location of your <code>javaw.exe</code>.
                </p>
                <source>
Set JAVA_BIN=%PD%\jre\bin\javaw.exe
Echo JAVA BIN
Echo ---------
Echo "%JAVA_BIN%"
Echo.</source>   
                <p>
                    Configuration complete!  Next is <a href="running.html" alt="running">running the application</a>.
                </p>
            </subsection>
        </section>
    </body>
</document>