<?xml version="1.0" encoding="UTF-8"?>
<document xmlns="http://maven.apache.org/XDOC/2.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">

    <properties>
        <title>Ferris ClipJ</title>
        <author email="mjremijan@yahoo.com">Michael Remijan</author>
    </properties>

    <body>
        <section name="Running">
            <p>
                Open a DOS prompt to the <code>%CLIPJ%/bin/</code> directory.
            </p>
            <p>
                Execute <code>start_clipj.cmd</code>
            </p>
            <p>
                The application will then start running in the background.  You'll
				see the ClipJ icon in the system tray. You may need to edit which
				icons are always visible in the system tray.
            </p>
            <p>
                Happy clipboarding!
            </p>
        </section>
    </body>
</document>